__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.dll
*.egg-info/
*.egg
*.log
*.sqlite3
venv/
env/
ENV/
.venv/
.virtualenv/
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
*.db
*.pid
*.sock
node_modules/
dist/
build/
npm-debug.log*
desktop.ini
.replit
